.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #7f8c8d;
    align-items: center;
    justify-content: center;
}
.box {
    flex-basis: 30%;
    flex-grow: 1;
    height: 100vh;
    background-color: gray;
    align-items: center;
    justify-content: center;
    &__movie {
        background-color: #2C3E50;
        height: calc(100vh - 100px);
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        border-radius: 30px;
        &__poster {
            background-color: lightblue;
            height: calc(90vh - 100px);
            border: solid 5px #2C3E50;
            border-radius: 30px;
        }
    }
    &__ranking {
        background-color: #F39C12;
        height: 705px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        &__item {
            display: flex;
            justify-content: space-between;
            background-color: #7F8C8D;
            border: solid 5px #F39C12;
            border-bottom: 2.5px;
            border-radius: 35px;
            &__poster_mini {
                background-color: green;
                border-radius: 30px;
                height: 95px;
                flex-basis: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__title {
                background-color: #7F8C8D;
                flex-basis: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                &__h1 {
                    font-size: 20px;
                }
            }
            &__score {
                background-color: #2C3E50;
                border-radius: 30px;
                flex-basis: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 5px #7F8C8D;
                color: white;
            }
        }
    }
}
